<form style="padding: 0px 45px" class="" #formulair="ngForm" (ngSubmit)="inscription(formulair.value)">
  <div class="row justify-content-center">
    <h1 style="color: blue;text-align: center"><i class="fa fa-user "></i> <br> Inscription</h1>
  </div>
  <!--  debut form groupe-->
  <div class="form-group">
    <label for="inputNom">Nom</label>
    <input type="text" class="form-control" name="nom" required ngModel #nom="ngModel" id="inputNom" placeholder="Ali">
  </div>
  <!--  fin form groupe-->

  <!--  debut form groupe-->
  <div class="form-group">
    <label for="inputPrenom">Prenom</label>
    <input type="text" class="form-control" name="prenom" required ngModel #prenom="ngModel" id="inputPrenom" placeholder="Aloui">
  </div>
  <!--  fin form groupe-->

  <!--  debut form row-->
    <div class="form-group ">
      <label for="inputEmail4">Email</label>
      <input type="email" email class="form-control" name="email" required ngModel #email="ngModel" id="inputEmail4" placeholder="Email">
    </div>

    <div class="form-group"> 
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" name="password" required ngModel #password="ngModel" id="inputPassword4" placeholder="Password">
    </div>
  <!--  fin form row-->
  <div class="form-group">
    <label >Profission</label>
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Select</mat-label>
      <mat-select name="profession" ngModel #profession="ngModel" required>
        <mat-option value="stagiaire">Stagiaire</mat-option>
        <mat-option value="encadrant">Encadrant</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button type="submit" [mat-dialog-close]="!formulair.valid" [disabled]="!formulair.valid" class="btn btn-primary btn-block">S'inscrire</button>
</form>
