.logo{
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 20px;
}
.bg-nav{
  background-color: darkblue;
  border-bottom: 1px black solid;
}
ul li a{
  color: white;
  padding: 10px;
}
ul li{
  border-radius: 20px;
  border: 1px solid transparent;
}
ul li:hover{
 background-color: white;
  color: black;
}

