<nav class="navbar navbar-expand-lg navbar-light bg-nav ">
  <a class="navbar-brand " routerLink="">
    <img src="assets/Images/logo.png" class="logo"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
    <i class="fa fa-navicon fa-2x" style="color: white"></i>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown" >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-home mx-1" ></i> Acceuil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-info mx-1" ></i> A propos de nous</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <i class="fa fa-envelope mx-1" ></i>Contacter nous</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="openDialogConnexion()" style="cursor: pointer"><i class="fa fa-sign-in mx-1" ></i> Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openDialogInscription()" style="cursor: pointer"> <i class="fa fa-sign-language mx-1" ></i>Inscription</a>
      </li>
  </ul>
  </div>
</nav>
