<footer class="contaner-fluid footer">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <ul>
       <li>elem </li>
       <li>elem </li>
       <li>elem </li>
       <li>elem </li>
      </ul>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
</footer>
