<div class="container-fluid">
  <div class="row justify-content-center" >
    <div class="col-md-6">
      <div @AugmentOpacity class="">
          <img src="assets/Images/logo.png" style="height: 400px;width:100%;"  >
           <h2 class="" style="text-align: center">
           L'avenir devient plus simple
           </h2>
      </div>
    </div>
  </div>
  <div @AugmentOpacity2 class="row justify-content-around">
    <a routerLink="/stagiaire" ><button  class="btn btn-back  my-2 mx-2"><i class="fa fa-user fa-3x mx-2"></i><br>Espace Stagiair</button></a>
    <a routerLink="/encadrant"><button  class="btn btn-back  my-2 mx-2"><i class="fa fa-user fa-3x mx-2"></i><br>Espace Encadrant</button></a>
  </div>
</div>

<div class="container-fluid">
  <div class="row mt-2 justify-content-center">
    <div class="col-md-11">
      <ngb-carousel >
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img alt="Random first slide" src="assets/Images/slid1.jpg">
          </div>
          <div class="carousel-caption">

          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img alt="Random second slide" src="assets/Images/slid2.jpg">
          </div>
          <div class="carousel-caption">

          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img  alt="Random third slide" src="assets/Images/slid3.jpg">
          </div>
          <div class="carousel-caption">
        <ng-template>
        </ng-template>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img alt="Random fourth slide" src="assets/Images/slid4.jpg">
          </div>
          <div class="carousel-caption">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>

<div class="container mt-3">

  <div class="row">
    <div class="col-md-6">
      <img src="assets/Images/pdg.jpg" style="border: 1px solid transparent; border-radius: 450px;width: 500px;height: 500px">
      <h1 style="text-align: center"> M.Olivier Vallet : PDG de Docaposte</h1>
    </div>
   <div class="col-md-6 mt-5">
     <img src="assets/Images/logo.png" style="width: 60px;height:60px;border: 1px solid transparent;border-radius: 30px">
     <p>Notre Entreprise reste le leader dans le monde grace a la collaboration de tous ses collaborateurs</p>
   </div>
  </div>
</div>


