.btn-back{
  background-color: blue;
  color: white;
  width: 200px;
  height: 200px;
}
img{
  width: 100%;
  height: 500px;
  border:none;
}
template{
  width: 100%;
  height: 600px;
  border:none;
}

