<form style="padding: 20px 50px" class="" #formulair="ngForm" (ngSubmit)="connexion(formulair.value)">
  <div class="row justify-content-center">
    <h1 style="color: blue;text-align: center"><i class="fa fa-user fa-2x"></i> <br> Connexion</h1>
  </div>
  <!--  debut form row-->
  <div class="form-group ">
    <label for="inputEmail4">Email</label>
    <input type="email"  email class="form-control" name="email" required ngModel #email="ngModel" id="inputEmail4" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="inputPassword4">Password</label>
    <input type="password" class="form-control" minlength="8" name="password" required ngModel #password="ngModel" id="inputPassword4" placeholder="Password">
  </div>
  <!--  fin form row-->

  <button type="submit" [mat-dialog-close]="!formulair.valid" [disabled]="!formulair.valid" style="background-color: blue;color:white" class="btn  btn-block"><i class="fa fa-sign-in mx-2"></i>S'inscrire</button>
</form>
